# Ignore the db
prices_comparator/db.sqlite3

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore __pycache__ directories
prices_comparator_tool/__pycache__/

# Ignore build directories
build/

#Ignore the venv folder
venv/
